@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .form_div_style {
    @apply h-[64px] max-w-[600px] border-2 border-borderColor-gray_light rounded-[5px] flex items-center;
  }
  .form_inputs {
    @apply text-2xl w-full outline-none pl-[1rem];
  }
}
